[2018-01-16 10:15] selotoprak opened #5 "I am getting these errors on npm start for cheesecakes"
ERROR (1611 on s-MacBook-Pro.local): Cannot find module 'sendmail'
    Error: Cannot find module 'sendmail'
        at Function.Module._resolveFilename (module.js:538:15)
        at Function.Module._load (module.js:468:25)
        at Module.require (module.js:587:17)
        at require (internal/module.js:11:18)
        at Object.<anonymous> (/Users/s/Desktop/strapi/strapi-examples/cheesecakes/plu

[2018-01-18 10:13] lauriejim commented on #5
Hello @selotoprak thank you for this issue.

The post install script is missing in the package.json to install plugins node modules. It's why you have this missing node module.

I have update the strapi version `alpha.7.3` to `alpha.8` (https://github.com/strapi/strapi-examples/pull/7) and it fix it.

Can you try again and tell me if it's OK ?

[2018-01-24 20:13] lorenafoia opened #9 "I'm getting these errors on gatsby develop for gatsby-source-strapi plugin"
Hey guys, whenever I run `gatsby develop`, these errors and warnings shows up:

[code]
and then:

[code]

I followed the entire tutorial but got these errors. I tried just copy and paste all the code, to avoid typos, but the errors persisted. I also got the same errors when I cloned the project and ran all the npm install and stuff. :T

[2018-01-26 10:27] pierreburgy commented on #9
This is due to the permissions set in your Strapi project.

Please double check the [step Allow Access](https://blog.strapi.io/building-a-static-website-using-gatsby-and-strapi/#allowaccess) in the tutorial and take a look at the [comments in the article](https://blog.strapi.io/building-a-static-website-using-gatsby-and-strapi/#disqus_thread).

[2018-01-26 11:45] lorenafoia commented on #9
Oh, ok...  I had set permission only for the articles, forgot about User. Thank you!

[2018-01-26 13:03] pierreburgy commented on #9
You are welcome. Have fun using Gatsby and Strapi!

[2018-01-26 13:03] #9 closed

[2018-02-25 09:44] aalshaikh opened #12 "Error Unauthorized"
GET http://localhost:1337/cake/count 401 (Unauthorized)

[2018-02-28 10:01] chandrapenumarthi opened #13 "how to add one to many relations for two content types?"
**Node.js version**: v8.9

**npm version**:5.5

**Strapi version**:3.0.0-alpha

**Operating system**:Ubuntu

**Which example is causing problem?**

**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce the problem**

**What is the expected behavior?**

[2018-02-28 17:02] soupette commented on #13
Hi could you be more specific on what you're trying to achieve? Which example or boilerplate are you referring to?

Thanks!

[2018-03-01 06:09] chandrapenumarthi commented on #13
gatsby-strapi-tutorial - this is the code I am referring.
I created new content type "contact" and I want to make a one-to-many relation between user and contact.
Can you please suggest how to achieve above?

[2018-03-01 18:48] pierreburgy commented on #13
@chandrapenumarthi you have two options to create a relation:
 - Use the Content Type Builder in Strapi admin panel: add a new field with the type "Relation".
 - Edit your models files (https://strapi.io/documentation/guides/models.html).

[2018-03-05 04:28] sabaruddin opened #14 "Any support available on oracle db connect?"

[2018-03-05 07:55] soupette commented on #12
Hi @aalshaikh can you allow your guest user to access this routes in the user & permissions tab?
When you click on the Guest role you should see all your content types and you can set permissions according to your need.

Let us know if it works!

[2018-03-11 20:51] victorkane opened #16 "cheesecakes example fails to load data, home page empty"
**Node.js version**:

9.8.0

**npm version**:

5.7.1

**Strapi version**:

"strapi": "3.0.0-alpha.10"

**Operating system**:

Ubuntu 14.04.5 LTS

**Which example is causing problem?**

cheesecake example

**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

`npm start` gives errors and no cakes on homepage!

[code]

Database is successfully created in

[2018-03-11 21:41] chris-smearing opened #17 "Strapi"
**Node.js version**:
v9.5.0

**npm version**:
5.6.0

**Strapi version**:
3.0.0-alpha.11.1

**Gatsby version**:
1.1.45

**Operating system**:
Windows 10

**Which example is causing problem?**
Gatsby blog

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
error on final step of the tutorial: https://hackernoon.com/building-a-static-blog-using-gatsby-and

[2018-03-12 10:09] chence commented on #17
same error +1

[2018-03-13 11:00] lauriejim commented on #14
Actually no and it's not plan today.

[2018-03-13 11:02] lauriejim commented on #16
Okay I will take a look.

[2018-03-13 11:03] victorkane commented on #16
Thanks so much, I'm really interested in Strapi, and this example can really give me a helping hand to get started on my first projects.

[2018-03-18 15:31] robhowell commented on #17
me too +1

[2018-03-19 15:43] nom4da commented on #17
same here +1

[2018-03-21 14:45] imjustd commented on #17
same +1

[2018-03-24 23:16] ymek commented on #17
While this clearly isn't a code fix, the following will get people going:

Connect to MongoDB's mongo-shell:
[code]

After you're connected, insert the missing data.
[code]

Interestingly enough, this specific issue is not present when creating a user in the Strapi control panel.

[2018-03-26 09:38] pierreburgy commented on #17
Good catch! I submitted a PR for the `gatsby-source-strapi` plugin: https://github.com/strapi/gatsby-source-strapi/pull/4.

As soon as it is published on GitHub, I will update this project.

[2018-03-26 13:42] soupette commented on #12
I'm closing the issue

[2018-03-26 13:42] #12 closed

[2018-04-05 23:35] JeffWeim opened #18 "Google OAuth Provider Issue"
**Node.js version**:
9.11.1

**npm version**:
5.4.2

**Strapi version**:
3.0.0-alpha.11.3

**Operating system**:
MacOS

**Which example is causing problem?**
good-old-react-authentication-flow

**Do you want to request a *feature* or report a *bug*?**
report a *bug*

**What is the current behavior?**
After enabling Google as an OAuth provider in the Strapi admin, I attempt to use the provider for

[2018-04-07 13:38] nicroto commented on #16
I am hitting this same issue. +1 for fix, so we can check the example out. Cheers!

[2018-04-09 14:34] domanieq commented on #16
I am hitting the same issue.. I have no clue how to connect my website with node.js and Strapi so I was really happy with this tutorial.. Such a shame it doesnt work..

[2018-04-10 00:41] amouratoglou commented on #16
It doesn't work for me either...

[code]

[2018-04-10 10:05] lauriejim commented on #16
Hello guys. I fixed data type for cheesecake price.
And I update setup steps in the readme to let you able to use the app.

Issue still happening on reviews but it's not linked to this issue.

Let me know if you are able to setup the app

[2018-04-10 10:05] #5 closed

[2018-04-10 10:05] #13 closed

[2018-04-10 10:45] domanieq commented on #16
Hi, I'm still not able to setup the app.. It's not possible to go to the /admin.. It just returns the homepage so I can not set any permissions or whatsoever..

[2018-04-10 11:44] nicroto commented on #16
@domanieq Have you checked the new setup in the readme?

@lauriejim I managed to run it, thanks. Can you please direct me to read some documentation on what exactly happens in this setup and plugin building? (it took... likely over 10 min, so I wonder how would that work in deployment)

[2018-04-10 12:00] domanieq commented on #16
@nicroto yes, I think i did..

**1 — Clone the repository.**

git clone git@github.com:strapi/strapi-examples.git
-> That already gave me an error, so I just downloaded the Zip

**2 — Go to the cheesecakes example and install the dependencies.**

cd cheesecakes
npm run setup --plugins
# It can take few minutes

-> This gave me another error namely: npm run setup --plugins

module.js:549
    throw

[2018-04-10 15:33] nicroto commented on #16
That's weird. The error is that shelljs is missing, but it is in the admin plugin's package.json. Perhaps @lauriejim can help out?

[2018-04-10 15:45] nicroto commented on #16
I think the cheesecakes package.json needs to change this:
[code]
to:
[code]
because the admin setup runs a script that require's shelljs, but nothing has installed it yet.

I think in my case it worked, because the previous version (before the fix spawned from this thread), had `npm install` in the readme and that installs a module, which depends on shelljs (so shelljs is installed too), but mayb

[2018-04-10 15:56] lauriejim commented on #16
@nicroto Can you submit a PR with your update please.

[2018-04-10 17:29] nicroto commented on #16
That was the reason for the error, indeed. I hope the pull request is OK. Cheers!

[2018-04-10 19:52] domanieq commented on #16
Thank you very much @nicroto !!! :)
@lauriejim is it maybe possible to make a tutorial about how to connect strapi with a HTML-site?
I will try to find it out myself, but would be nice of you have this kind of documentation. I've build a HTML-site myself, but I'm relatively new to coding :)

[2018-04-11 11:48] domanieq commented on #16
@lauriejim : never mind! I'm really impressed by Strapi! I learnt javascript (and node.js) three days ago and managed to set the cakes up myself in my own layout. But I ran across a problem.. Every cake can have a category, and per category I want to set up some special textfield, like for example categorydescription.

So, "Red Velvet Cake" is part of the "Red Cake"-category. This Red Cake categor

[2018-04-13 13:49] lddd opened #20 "Can´t clone the repository"
Also why does it ask to auth at all?

[2018-04-13 14:08] lddd opened #21 "Cant create new project"
Whats the problem here, i get the following error message after installting node js and strapi

[code]

[2018-04-13 17:38] JeffWeim commented on #18
@soupette

First, I've found that the issue was simply not having the Google+ API enable. I feel like for the `development` env, there needs to be much better debug messaging enabled. This was a simple issue to fix, but there was nothing indicating what needed to happen.

Second, I'm now receiving another message in the client. It is happening on the redirect back from Google to the app. The messa

[2018-04-13 19:26] soupette commented on #18
I think that you'll find answer in this [documentation](https://github.com/strapi/strapi-examples/blob/master/login-react/doc/google_setup.md).

Let me know if you're still struggling

[2018-04-13 20:04] JeffWeim commented on #18
@soupette

If I follow the steps in those docs, I'm continually redirected back to Google account selection page (ie `https://accounts.google.com/signin/oauth/oauthchooseaccount...`)

I'm confused as to why in the docs for the "**The redirect URL to your front-end app**" section it says to use `connect/google`, while the default value in the admin is `auth/google/callback`.

Neither of the values

[2018-04-16 06:58] soupette commented on #18
If you're using the boilerplate provided in the examples it's  `http://locahost:3000/connect/google`.

You're right, the url writtent in the admin is wrong but if you click on the field you'll see that it will automatically change to `auth/google/callback` so you need to edit this field in the admin.

[2018-04-19 08:30] soupette commented on #21
What is your node and npm versions?

[2018-04-19 08:30] soupette commented on #20
Did you manage to clone the repository?

[2018-04-19 08:33] soupette commented on #18
Well the redirect URL of your front-end app can be changed, However the one that manages the authentication between your api and your provider cannot be modified since it's dynamic, so if you change the port of your API the field will also be updated

[2018-04-19 09:40] #20 closed

[2018-04-19 09:40] lddd commented on #21
Solved, thanks.

[2018-04-19 09:40] #21 closed

[2018-04-19 15:35] JeffWeim commented on #18
Hmm alright. So how is it in this [documentation](https://github.com/strapi/strapi-examples/blob/master/login-react/doc/google_setup.md) you were able to set both `http://locahost:3000` and `http://localhost:1337`?

![admin_google_conf](https://user-images.githubusercontent.com/8635521/39002016-726a9130-43ac-11e8-8292-af48b62c5ab1.png)

This is what I'm most confused about.

[2018-04-19 15:52] #18 closed

[2018-05-08 03:39] entrptaher commented on #17
@pierreburgy everything is nice and dandy, except this isn't updated yet and I just wasted an hour trying to understand why I was getting error when I used the example repo. I thought it was updated even on the example repo. :'(

https://github.com/strapi/strapi-examples/blob/master/gatsby-strapi-tutorial/blog/package.json#L10

[2018-05-11 14:01] gfhmon opened #24 "Cheesecakes example error during setup"
**Node.js version**: v10.0.0

**npm version**: 5.6.0

**Strapi version**: 3.0.0-alpha.12.1.3

**Operating system**: Ubuntu 16.04

**Which example is causing problem?** Cheesecakes Example

**Do you want to request a *feature* or report a *bug*?** Bug

**What is the current behavior?** When running 'npm run setup --plugins' error below is seen:

[code]

Mongo has the cakes data but no category data

[2018-05-12 10:54] dalerka commented on #24
Same issue here. Could this be due to some migrations required between Strapi versions?
But also could be a problem with `babel`-related package:
I changed the line `268` (_cheesecakes/plugins/graphql/services/GraphQL.js_) to ES5 version as:
`ctx.params = Object.assign(params, { [model.primaryKey]: ctx.params.id });`

and the error threw at a later stage (again for the `...` spread operator):
[cod

[2018-05-16 06:12] dalerka commented on #24
@soupette  Is there a way or a script to make `strapi` updates and migrations easier than [described in docs](https://strapi.io/documentation/migration/migration-guide-alpha-11-to-alpha-12.html)?

[2018-05-24 23:27] yummyelin opened #25 "Could not find jekyll-strapi-0.1.1 in any of the sources"
**Node.js version**: 9.10.1

**npm version**:5.6.0

**Strapi version**:3.0.0-alpha.12.2

**Operating system**:macOS

**Which example is causing problem?**
jekyll-strapi-tutorial

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Can't start Jekyll server.

**If the current behavior is a bug, please provide the steps to reproduce the problem**
Operatin

[2018-05-28 06:11] gotling opened #26 "Chrome 66: CSS and JS resources are not loaded due to distrusted SSL certificate"
**Node.js version**:
v8.6.0

**npm version**:
5.5.1

**Strapi version**:
3.0.0-alpha.12.2

**Operating system**:
Windows 10

**Web Browser**:
Google Chrome Version 66.0.3359.181 (Official Build) (64-bit)

**Which example is causing problem?**
cheesecakes

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
CSS and JS resources are not loaded.

Developer

[2018-05-28 10:08] #16 closed

[2018-05-28 10:09] #24 closed

[2018-06-06 04:50] jatin69 commented on #25
exactly same bug. The readme needs to contain complete information.

[2018-06-10 19:13] ClementLoridan opened #27 "Facebook Provider doesn't work with HTTPS"
**Node.js version**: v8.9.4

**npm version**: 5.6.0

**Strapi version**: 3.0.0-alpha.12.2

**Operating system**: OSX 10.12.6

I have a problem with Facebook Provider:

I use login-react example (localhost:3000) and my API Strapi (https://api.myexample.com in local).
I use https in local because Facebook developer doesn't accept URI url is not https

But the redirect is incorrect : http://localhost

[2018-06-13 20:43] soupette commented on #27
@ClementLoridan can you follow these [steps](https://github.com/strapi/strapi-examples/blob/master/login-react/doc/fb_setup.md) to enable FB.

I tried on Monday and it was working (even without https).

Also the redirect URL should be http://localhost:3000/connect/facebook

and one Facebook side http://localhost:1337/connect/facebook/callback

[2018-06-20 14:47] #27 closed

[2018-07-04 09:47] udox-cameron opened #29 "You shouldn't trust user input on the price"
You should query the database and calculator the total in this method. This is the way I did it with using Stripe and Firebase.

[code]

https://github.com/strapi/strapi-examples/blob/77d69b63f6eb70d05c01731d17013a1f2f3ae8ea/nuxt-strapi-deliveroo-clone-tutorial/server/api/order/controllers/Order.js#L65

[2018-07-04 22:41] decimoseptimo opened #31 "Next tutorial?"
@pierreburgy Insteresting that you chose nuxt before next. Anyways, looking forward for a next.js-strapi tutorial that features authentication.

[2018-07-05 07:50] pierreburgy commented on #31
Good idea @decimoseptimo!

Would you like to write it (even if it is much shorter that the Nuxt tutorial)?

[2018-07-05 21:03] decimoseptimo commented on #31
In fact I just started exploring the possibilty to use next.js with strapi so I'm currently consuming the content I can find in this regard. I just don't have the expertise at the moment.

I did the same in a past project, I explored the possibilty to use gatsby and strapi for the first time. For that you had an official tutorial which was one of the keys for me to get in.

[2018-07-11 20:19] stevenanthonyrevo opened #32 "Route "/Admin" is not showing and no data is being imported on start of server."
**Node.js version**: v9.3.0

**npm version**: 5.6.0

**Strapi version**: 3.0.0-alpha.12.7.1

**Operating system**: Mac OS Sierra 10.12.6

**Which example is causing problem?**
Cheesecake

**Do you want to request a *feature* or report a *bug*?**
I see this as a bug, would be helpful to include more documentation on configuration of mongodb.

**What is the current behavior?**
Starting the server wi

[2018-07-12 07:02] mnlbox opened #33 "cheesecakes example fails to run"
**Node.js version**:
9.0.0
**npm version**:
5.1.1
**Strapi version**:
3.0.0 alpha 12.7 globally and 3.0.0 alpha 12.3 for project (strapi-examples/cheesecakes current version)
**Operating system**: Linux

**Which example is causing problem?**
cheesecakes
**Do you want to request a *feature* or report a *bug*?**
report a *bug*
**What is the current behavior?**
Can't run example.
**If the current beh

[2018-07-17 06:52] delkov commented on #32
Have same issue.
Go to mongo and make
db['users-permissions_permission'].updateMany({}, {$set: {enabled: true}})

[2018-07-29 09:05] mnlbox commented on #33
@soupette @lauriejim

[2018-07-29 14:42] lauriejim commented on #32
I update the app to `alpha.13` and it fix this issue https://github.com/strapi/strapi-examples/commit/e5a3f8d13164930e7ecbba5867fbb08a64a8e697

[2018-07-29 14:42] #32 closed

[2018-07-29 14:45] lauriejim commented on #33
I just update the app to `alpha.13`.

Can you try `npm start` instread of `strapi start`. If there is a difference between Strapi version of your app and your global install, conflicts can happen if you start the app with `strapi start`.

[2018-07-29 14:47] lauriejim commented on #29
Hello @udox-cameron, can you submit a PR with your update please.

[2018-08-09 16:37] omerkunul opened #39 "GraphQL Error Unknown field `allStrapiArticle` on type `RootQueryType`"
**Node.js version*v10.8.0*:

**npm version*6.2.0*:

**Strapi version*3.0.0-alpha.13.0.1*:

**Operating system*MacOs 10.14 Beta (18A353d)*:

Success delete html and css files from previous builds — 0.019 s
success open and validate gatsby-config — 0.006 s
success copy gatsby files — 0.018 s
success onPreBootstrap — 0.094 s
⠁ Starting to fetch data from Strapi (article)
Starting to fetch data from S

[2018-08-12 15:26] PDS42 commented on #31
@decimoseptimo were you able to find good resources to use strapi with next? If so, please share them! :)

[2018-08-18 08:11] wluijk opened #40 "404"
In the readme.md for the cheesecake sample is a dead link, the third in the article:

https://blackrockdigital.github.io/

Good luck!

[2018-08-20 10:08] #40 closed

[2018-08-20 10:10] lauriejim commented on #33
I am closing this issue because we don’t have any update about it.

[2018-08-20 10:10] #33 closed

[2018-08-24 06:43] xeastcrast commented on #27
@soupette But it wasn't working for me now. I think because FB has force https now.
I can't use this URL
http://localhost:3000/connect/facebook
http://localhost:1337/connect/facebook/callback

I was very hard tried for this but It not working

[2018-08-24 19:44] xeastcrast commented on #27
@soupette Yes i tried

[2018-08-27 14:36] AndrewMerke opened #41 "How to make a dropdown from form.json"
Hello I am trying to learn about React-Redux authentications with JWT and yours examples works perfectly for me. But I have one question, how to make a dropbox with different value from yours form.json file. For example I want to add country to register formType. How to make dropdown of every country and make dropdown of them?

[2018-08-27 15:18] soupette commented on #41
Well the idea of this file is to map an input with a type.
So you'll need to create a `DropDownInput` and add it to the InputsIndex, with the needed data.
Then it should works

[2018-08-27 15:18] soupette commented on #27
Is it working?

[2018-08-27 19:15] xeastcrast commented on #27
@soupette No I can't save this url http://localhost:3000/connect/facebook
http://localhost:1337/connect/facebook/callback

facebook warning me that "only support https url"

[2018-08-28 07:41] AndrewMerke commented on #41
But lets say I want Input and DropDownInput in random order, maybe you could suggest me how to achieve this?

[2018-08-28 09:26] AndrewMerke commented on #41
Yes, something like that

[2018-08-28 10:32] soupette commented on #41
You just need a shuffle algorithm then

[2018-08-28 11:17] AndrewMerke commented on #41
Maybe you have an example in you directory with this?

[2018-08-28 16:20] soupette commented on #41
I can provide some pseudo-code if you want.
If I do understand it well you want to
- select a country => display a new input to select for example the state and so one?

[2018-08-28 16:21] mateodelnorte opened #42 "Getting 400 Bad Request for detail page on react-apollo example"
**Node.js version**:

10

**npm version**:

**Strapi version**:

3 alpha 14

**Operating system**:

mac

**Which example is causing problem?**

react-apollo

BUG

**What is the current behavior?**

visiting the detail page (http://localhost:3001/form/product/5b856a99fb67e97163d6c23a) by clicking on a line item results in the following error: `Error: Error: Network error: Response not successful: R

[2018-08-28 16:36] soupette commented on #42
Can you pull master and tell me if it still occurs?

[2018-08-28 17:02] AndrewMerke commented on #41
Lets say, I have a form.json of 5 fields, 2 of them are dropdowns

[2018-08-28 17:07] mateodelnorte commented on #42
I'm sure it will. You made the same change to fix I made locally.

[2018-08-28 18:12] #42 closed

[2018-08-29 13:04] AndrewMerke opened #43 "How to clear input fields in form after submit?"
Hello, I have question how to clear input after submit. Your examples sets form by url, but if I want to set form statically, how should I clear my inputs? My input component:

[code]

[2018-08-30 09:40] AndrewMerke commented on #41
I almost did everything, maybe you could provide simple dropdown pseudo-code. Like how to pass value and use it with

[2018-08-30 09:40] #41 closed

[2018-08-30 16:03] soupette commented on #43
Well if you're using the `good-old-react-authentication-flow` in the `handleSubmit` method you can add the following

[code]

[2018-09-05 13:37] Foundj opened #44 "react-apollo __typename : "Product""
**Strapi version**:
v3.0.0-alpha.14

**Which example is causing problem?**

http://localhost:3000/form/product/1
this edit page tap to submit is wrong!
because __typename : "Product" in query(data[params.contentType] )
How do I solve this problem?

[2018-09-07 15:27] NickBolles commented on #31
Also interested in using next with strapi.

Next-auth has some good examples, and really is just a wrapper for express.js and passport authentication, but it adds client and server side methods that make sign-in easy.

It sounds like it's at least possible. So I think I'm going to prototype something in the coming weeks maybe we can go from there?

Let me know if anyone has any tips or tricks to h

[2018-09-09 16:52] ryanbelke commented on #31
Following, looking into next.js and strapi also

[2018-09-11 07:34] pierreburgy commented on #31
A Next article will be published in the next few weeks :)

Your articles are still welcomed.

[2018-09-17 11:39] M1chaelTran opened #45 "Log in with Facebook not working"
**Node.js version**:
v8.10.0
**npm version**:
5.6.0
**Strapi version**:
3.0.0-alpha.14.1.1
**Operating system**:
OSX

**Which example is causing problem?**
`login-react` and `react-apollo`
**Do you want to request a *feature* or report a *bug*?**
yes, I believed this is a bug🐛
**What is the current behaviour?**
I get a 400 bad request
[code]
**If the current behaviour is a bug, please provide the

[2018-09-17 15:35] soupette commented on #45
Did you add some required field to the user model?

[2018-09-17 23:15] M1chaelTran commented on #45
no, this is all straight up fresh from the start for strapi and the examples.

[2018-09-18 21:58] soupette commented on #45
Can you try by following this [documentation](https://github.com/strapi/strapi/blob/enhancement/providers-use/docs/3.x.x/en/guides/authentication.md#enabling-facebook-provider) it was working a month ago and the configuration can be tricky...

[2018-09-20 13:13] M1chaelTran commented on #45
I use that doc to double check everything I have done and yes, everything I have done matches up with the doc.
If you are saying it works for you, then there must be some special settings or code change that doesn't exists in the example?

[2018-09-29 22:29] realmarc opened #48 "Jekyll + Strapi Build Warning: Layout 'default' requested in home.html does not exist."
**Node.js version**:
v10.11.0
**npm version**:
6.4.1
**Strapi version**:
3.0.0-alpha.14.2
**Operating system**:
Debian Stretch 64Bit

**Which example is causing problem?**
Jekyll + Strapi
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
Jekyll Console says: Build Warning: Layout 'default' requested in home.html does not exist.
**If the current behavio

[2018-10-03 02:09] gwpantazes opened #49 "hello-world `mongoose` dependency is necessary, but currently is only a peer dependency"
**Node.js version**: v10.11.0

**npm version**: 6.4.1

**Strapi version**: 3.0.0-alpha.14.2

**Operating system**: Mac OS High Sierra 10.13.4

**Which example is causing problem?**
hello-world

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
`npm install` does not automatically install `mongoose@4.x`. It is only suggested as a peer dependency. If th

[2018-10-03 18:19] lauriejim commented on #49
Hello @gwpantazes.

Are you able to submit a PR to fix it ?

[2018-10-06 17:10] gwpantazes commented on #49
I'll look into it. I am not super experienced with NPM but from what I've found out since then I think I can fix it by running npm install mongoose@4.x --save or something like that. I'll see if that fixes it and submit a PR soon!

[2018-10-10 16:55] rabidhadron opened #51 "SOLVED: 404 Error from gatsby-source-strapi plugin"
I'mtrying to follow the tutorial here: https://blog.strapi.io/building-a-static-website-using-gatsby-and-strapi/ and the following error occurs when running gatsby develop:

Starting to fetch data from Strapi (article)
Starting to fetch data from Strapi (user)
error Plugin gatsby-source-strapi returned an error

  Error: Request failed with status code 404

  - createError.js:16 createError
    [b

[2018-10-10 18:56] Gillinghammer commented on #31
Just coming across this page in my search for a next + strapi tutorial.

+1 for that - wondering if @pierreburgy has an update?

[2018-10-10 20:03] rabidhadron commented on #51
Problem solved. The gatsby-config.js you use in the tutorial is incorrect. The contentTypes should be 'articles' and 'users', not 'article' and 'user' as shown.

[2018-10-10 20:03] #51 closed

[2018-10-10 22:29] ryanbelke commented on #31
@Gillinghammer I re-created Pierre's Nuxt + Strapi tutorial in NextJs and the source repo can be viewed here: https://github.com/ryanbelke/strapi-next

There is a tutorial folder in that repo that has setup instructions and some main points to get started.

I am working on the final writeup now and will be ready to post in the next couple of days. Let me know if you have any questions.Once the wri

[2018-10-11 05:36] NickBolles commented on #31
I also have a next-middleware that I developed locally. It makes setting up next as simple as `strapi new app`, make a pages directory, and run strapi with `strapi start`

The middleware delegates everything to strapi, and if the request is still 404, passes it to next to handle.

Checkout the PR here: https://github.com/strapi/strapi/pull/2125

[2018-10-18 05:51] jiachaosun commented on #39
same error

    "gatsby": "^2.0.19",
    "gatsby-plugin-manifest": "^2.0.5",
    "gatsby-plugin-offline": "^2.0.5",
    "gatsby-plugin-react-helmet": "^3.0.0",
    "gatsby-source-strapi": "^0.0.3",

[2018-10-18 06:09] jiachaosun commented on #39
Authenticate Strapi user
Authenticate Strapi user: 148.712ms
Starting to fetch data from Strapi (articles)
Starting to fetch data from Strapi (users)
Fetch Strapi data: 28.169ms
(node:54012) Warning: No such label 'Fetch Strapi data' for console.timeEnd()
success source and transform nodes — 0.198 s
success building schema — 0.131 s
success createPages — 0.000 s
success createPagesStatefully — 0.0

[2018-10-19 15:15] NickBolles commented on #31
There is now a tutorial here: https://blog.strapi.io/strapi-next-setup/

[2018-10-22 01:46] odomojuli opened #53 "Error: Cannot find module '../utils/Manager.js'"
**Node.js version**: v10.1.0

**npm version**: npm@6.4.1

**Strapi version**: 3.0.0-alpha.14.1.1

**Operating system**: macOS 10.13.6 (17G65)

**Which example is causing problem?**: Deliveroo Tutorial

**What is the current behavior?**
[code]

[2018-10-23 14:32] georgezouq commented on #39
same problem ` Unknown field `allStrapiArticles` on type `Query``

[2018-10-23 15:55] #31 closed

[2018-10-23 15:57] lauriejim commented on #53
You are talking about next or nuxt Deliveroo Tutorial ?

[2018-10-24 20:04] nikri commented on #53
It's Nuxt that's missing the whole directory ../utils/

[2018-10-25 10:15] lauriejim commented on #53
Thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

[2018-10-26 03:56] gwpantazes commented on #49
Submitted PR #55, which fixes this issue for me.

[2018-10-27 16:51] lauriejim commented on #49
Hello @gwpantazes
I'm not able to reproduce your issue.
`mongoose` is a deps of `strapi-hook-mongoose` so the dep is installed ...

[2018-10-28 03:06] cocodrino opened #56 "clarification about creating many to many using the content type builder"
hello guys, I was seeing that the content type builder allows you to create many to many relationships, since to do this you need an intermediate table, is it possible to create this relationship using the content type builder? no need for code or configuration? is there any guide to do this?

I suppose there must be a convention regarding the names of the columns, for example, I have the table ar

[2018-10-28 12:56] lauriejim commented on #56
Strapi will automatically generate all the stuff to make the relation work.

[2018-10-29 12:07] lauriejim commented on #56
In your **Article** model you set `tags` and in you **Tag** models you set `articles`

[2018-11-03 21:05] chandraalif commented on #39
I got same error message too. Anyone knows how to solve this issue?

[2018-11-05 16:09] lauriejim commented on #39
Can you try `allStrapiArticles` - maybe pluralize issue.

[2018-11-07 15:56] sinanerdem commented on #32
Hello,

I am using alpha.14. issue still exists.

[2018-11-07 16:00] sinanerdem opened #57 "cheese cake example - Cannot read property 'policy' of null"
**Node.js version**:
10.10.0
**npm version**:
6.4.1
**Strapi version**:
3.0.0-alpha.14.4.0
**Operating system**:
osx

**Which example is causing problem?**
cheesecakes
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
i installed and started the server with npm start. when i go to localhost:1337, it is empty. Error message is:
[2018-11-07T15:58:36.693Z

[2018-11-07 16:08] sinanerdem commented on #57
Correction:

[code]

inside mongo shell solved the problem.

[2018-11-09 08:04] mccrodp opened #58 "Upgrade Gatsby Example to use the latest version: v2"
**Node.js version**:
ANY

**npm version**:
ANY

**Strapi version**:
Latest

**Operating system**:
N/A

**Which example is causing problem?**
Gatsby Example: https://github.com/strapi/strapi-examples/tree/master/gatsby-strapi-tutorial/blog

**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
The examples use Gatsby v1, but v2 is the latest with many

[2018-11-18 09:36] wemod123 opened #61 "nuxt-strapi: strapi sdk.js throw error"
**Node.js version**: v 11.0.0
**npm version**: v 6.4.1
**Strapi version**: 3.0.0-alpha.14.5
**Operating system**: Ubuntu 18
**Example of : nuxt-strapi-deliveroo-clone-tutorial**

**Isuse:**
following illustration in readme, and issues on browser localhost:3000:

![image](https://user-images.githubusercontent.com/26819270/48670728-815f7900-eb57-11e8-96a2-81be018c00bd.png)

backend had being running

[2018-11-22 14:46] lauriejim commented on #29
I close this issue.
We did it to make the tuto simple.
Feel free to submit a PR if you want to add it.

[2018-11-22 14:46] #29 closed

[2018-11-22 15:09] #53 closed

[2018-11-22 15:09] #61 closed

[2018-11-22 15:40] lauriejim commented on #57
I tried with fresh new install and db and it works well on my side.

[2018-11-22 15:40] #57 closed

[2018-11-22 15:40] #56 closed

[2018-11-22 16:05] lauriejim commented on #45
I just follow instructions with fresh new app of Strapi and it works well.

[2018-11-22 16:05] #45 closed

[2018-11-22 16:05] #43 closed

[2018-11-23 09:31] lauriejim commented on #58
Thank you for this feedback.
Actually it's not plan to work on it.
Feel free to submit a PR.

[2018-11-23 09:31] #58 closed

[2018-11-28 01:19] mccrodp commented on #58
Thanks for letting me know it's not on the roadmap. If I go forward with this approach, I'll submit a PR. Cheers. In the meantime, if anything changes and you work on this, please ping on this issue. Thanks

[2018-12-10 22:36] clabmb commented on #39
I followed all post and tried every possible way but there is still the error
`  38:5  error  Cannot query field "allStrapiArticle" on type "Query"  graphql/template-strings`

[2018-12-10 22:45] clabmb commented on #39
I tried

and

and the error still persist

[2018-12-11 11:26] pellandaSyn opened #63 "multipleUpload stuck in pending"
**Node.js version**:
v11.2.0
**npm version**:
6.4.1
**Strapi version**:
3.0.0-alpha.16
**Operating system**:
macOS Mojave 10.14.1

**Which example is causing problem?**

**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
 upload plugin is missing mutation multipleUpload, i tried editing the schema.graphql , if i pass the files variables the request is s

[2018-12-12 14:30] cosydney opened #64 "Submit() is not responding when navigating in login area"
**Node.js version**: v10.13.0
**npm version**: 6.5.0
**Strapi version**: 3.0.0-alpha.16
**Operating system**: MAC OS Sierra
**Which example is causing problem?**: react-login-front-end-app
**Do you want to request a *feature* or report a *bug*?** report a bug

**What is the current behavior?**
When logging in if a user clicks on Forgot Password and comes back to Ready to Sign in submit isn't respo

[2018-12-12 14:41] cosydney commented on #64
Seems to come from Saga.js, if I comment this line out it works but may be I should be calling that function on login success ?
```  yield cancel(submitWatcher);```

[2018-12-12 19:05] lauriejim commented on #64
This one https://github.com/strapi/strapi-examples/tree/master/login-react?

[2018-12-12 19:07] lauriejim commented on #63
Duplicate https://github.com/strapi/strapi/issues/2464

[2018-12-12 19:07] #63 closed

[2018-12-12 22:30] cosydney commented on #64
Yes this one @lauriejim

[2018-12-15 17:36] pilotdeveloper commented on #39
Okay - I found a work around for this... @clabmb

Rename your gatsby-config.js to gatsby.config.js.  Try to recompile.  You should see a new error that says: `error GraphQL Error Unknown field \`file\` on type \`Query\`s`

Once this new error appears, close your terminal, rename your gatsby.config.js back to gatsby-config.js.  Restart gatsby develop and it magically works.  Why?  I have no idea.

[2018-12-15 17:51] pilotdeveloper commented on #39
Actually - just use gatsby develop --no-cache

[2018-12-22 14:37] Phatza commented on #61
Hi guys,
same problem here.
@lauriejim Any idea ?

Thanks

[2018-12-23 13:59] Phatza commented on #61
Hi,
This problem is related to mysql/mariadb.
I've tested using mongoDB with no errors.

[2018-12-24 03:13] Williamyip146 opened #65 "Cooking a Deliveroo clone with Next.js"
Node.js version: 11.1.0
NPM version: 6.4.1
Strapi version: 3.0.0-alpha.17
Database: MariaDB/Mysql 10.3.10
Operating system: Mac
Optional) Link to your Project: https://github.com/Williamyip146/deliveroo

I have problems with the checkout page, once I've made the payment I get a 500 error message and redirect to homepage. I've checked on the Admin backend to check the order table is still empty aft

[2018-12-24 08:30] soupette commented on #64
@cosydney if you feel like fixing it I would really appreciate, otherwise I will take a look at it this week.

[2018-12-24 10:31] cosydney commented on #64
looking again I might have a fix

[2018-12-24 10:54] cosydney commented on #64
https://github.com/strapi/strapi-examples/pull/66

[2018-12-24 13:35] #64 closed

[2018-12-25 21:27] ww9rivers opened #67 "graphql fails with API_URL"
**Node.js version**: v10.14.2

**npm version**: 6.4.1

**Strapi version**: strapi-sdk-javascript@0.3.0

**Operating system**: Linux Mint 19.1

**Which example is causing problem?** nuxt-strapi-deliveroo-clone-tutorial/client

**Do you want to request a *feature* or report a *bug*?** bug

**What is the current behavior?** When running the server and client both in a VM, with API_URL specified in sc

[2019-01-03 04:47] ntloi95 commented on #39
I have the problem true. Could we change the id of a node to string?

[2019-01-12 23:16] alefink opened #68 "No compile"
[pages.zip](https://github.com/strapi/strapi-examples/files/2752635/pages.zip)
**Node.js version**:
v10.15.0
**npm version**:
C:\dvl\proyectos\platforms\gatsby-strapi-tutorial\blog>npm -v
6.5.0
**Strapi version**:
3.0.0-alpha.18
**Operating system**:
windowa 10

**Which example is causing problem?**
no compile
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavio

[2019-01-12 23:19] alefink commented on #68
As usual this very good tuorial, but nothing works. gives an error in index.js
on compile. throw this mesage.
GraphQL Error Unknown field `allStrapiArticle` on type` Query`

   file: C: /dvl/projects/platforms/gatsby-strapi-tutorial/blog/src/pages/index.js

    1 |
    2 | query IndexQuery {

      | ^
    4 | edges {
    5 | do not give {
    6 | id
    7 | title
    8 | content
    9 | }
   10 |

[2019-01-16 11:44] lauriejim commented on #68
Hello @alefink  and @sp-daniel-sanchez !
I will make a tuto review soon as I can to make sure all works.

[2019-01-16 13:20] voordev commented on #68
The strapi blog example also fails to compile on the gatsby side..
Perhaps also update the strapi versions? Seems very old ones are used.

[code]

[2019-01-16 16:43] lauriejim commented on #68
Hello! I update all stuff, Strapi API and Gatsby app.
So if you have issue about the GrapQL queries like `allStrapiArticle` it's because you don't have article in you database or `author` it's cause your article is not link to an article.

Let me know if you have any other issue.

[2019-01-25 02:47] Andrew1325 opened #70 "Undefined binding(s) detected when compiling SELECT query"
**Node.js version**:
10.14.2
**npm version**:
6.4.1
**Strapi version**:
3.0.0-alpha.21
**Operating system**:
macOS 10.14

**Which example is causing problem?**
I'm following the nuxt/deliveroo tutorial and am up to creating dishes but got a "Cannot read property 'dishes' of null" error which I traced to the graphql query:

[code]

When run in playground this returns an error:

"message": "Undefine

[2019-01-28 11:58] sp-daniel-sanchez commented on #68
Thanks @lauriejim, as you said, it was due to missing data in the db.

[2019-01-29 17:41] #68 closed

[2019-02-04 15:14] DanLahav-TG opened #71 "error on npm install"
**Node.js version**:
10*
**npm version**:
6*
**Strapi version**:

**Operating system**:
ubonto 18.04

**Which example is causing problem?**
react-login-front-end-app

 ⚠ The `/home/linuxdan/Downloads/strapi-examples/login-react/react-login-front-end-app/node_modules/imagemin-pngquant/node_modules/pngquant-bin/vendor/pngquant` binary doesn't seem to work correctly
  ⚠ pngquant pre-build test failed

[2019-02-05 12:15] TetHat commented on #70
Having the same issue here on Strapi version 3.0.0-alpha.22. The referenced issue #2396 (which was fixed in alpha 22) appears to be a different issue entirely since this is still broken in alpha 22.

[2019-02-05 13:55] barak-haviv opened #72 "label:app:cheesecake not working"
**Node.js version**:
v10.13.0

**npm version**:
6.7.0

**Strapi version**:

**Operating system**:
mac Mojave

**Which example is causing problem?**
cheesecake

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I could installed the app an the admin is work fine
Also db created in my mongodb instance.
BUT I see almot empty page only sort by price dropd

[2019-02-05 14:23] lauriejim commented on #72
Hello @barak-haviv !

Did you open permission as listed in the readme ?

[2019-02-05 16:15] barak-haviv commented on #72
Sorry I missed this one.
It is working now.
Thanks

[2019-02-05 16:15] #72 closed

[2019-02-06 06:15] scorpionking90 commented on #70
I am also facing the same issue. Please provide solution at the earliest as it is stopping me alot. Thanks in advance.

[2019-02-06 12:06] thomaskvael commented on #70
I am also having the same problem. The example from Strapi doc is not working
[https://strapi.io/documentation/3.x.x/guides/graphql.html#query-api](https://strapi.io/documentation/3.x.x/guides/graphql.html#query-api)
Only workaround is to use a where clause but that returns an array of posts instead of a single post.

**Not working:**
[code]

Returns error:
"Undefined binding(s) detected when comp

[2019-02-07 20:41] gustawdaniel opened #73 "Should I put build directory to .git?"
I following tutorial

When I wanted to `git add .` I saw that

[code]

My intuition tells that it is wrong, but it is my first contact with strapi. Can you explain? It should be ignored or no? If no why?

[2019-02-07 21:30] gustawdaniel commented on #73
For an empty new Strapi project we have:

[code]

It is a terrible result comparing with for example `Symfony`:

[code]

I accept a higher number of files, because of a different range of functionality from scratch, but would like to ask about the possibility of make initial git repository smaller.

[2019-02-07 22:51] gustawdaniel commented on #39
@pilotdeveloper your method does not works

I was trying both rename config file and `--no-cache` flag.

[code]

[2019-02-11 16:15] ykguler opened #74 "Cannot read property 'forEach' of null"
Hello, I am getting two errors;

✖ error TypeError: Cannot read property 'forEach' of null
  at Object.fetch (pages/index.js:86:31)
  at process._tickCallback (internal/process/next_tick.js:68:7)

Could you help?

[2019-02-14 08:55] kenberkeley commented on #70
Same issue
![image](https://user-images.githubusercontent.com/13287948/52774868-676bfe80-3092-11e9-8a08-8d89f761a6f3.png)

[2019-02-14 14:06] genesos commented on #70
Alpha 23.1, same issue too.
But I found the error point maybe.

Changing `plugins/graphql/service/Query.js`
from
[code]
to
[code]
makes working right temporary.

[2019-02-14 16:45] notapatch commented on #70
Workaround is to use mongodb - in stage 1 - setup they use MongoDB (recommended).

Got here because I had the same issue, but using Postgres. I did not get this problem when using MongoDB.

[2019-02-18 13:22] puneetverma05 opened #75 "Manage Local State with Apollo Client? (react-apollo)"
Can we manage Local State with Apollo Client?
It is mentioned that Mutations are not supported.

[2019-02-19 11:41] puneetverma05 commented on #75
**Need Clarification**,
In the Docs, it says we can mutate...
https://strapi.io/documentation/3.x.x/guides/graphql.html#update-an-existing-entry

[2019-02-23 18:27] Kostanos commented on #39
Still have this error, and can't fix it yet. Any recommendations?

[2019-03-23 03:11] TengkuFathullah opened #79 "Error on npm run dev"
**Node.js version**:
v10.15.0
**npm version**:
6.9.1-next.0
**Strapi version**:
-
**Operating system**:
Windows 7 Ultimate x64

**Which example is causing problem?**
nuxt-strapi-deliveroo-clone-tutorial

**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
x error Error: Plugin not found: D:\[GitLab]\strapi-examples\nuxt-strapi-deliveroo-clone-tutorial\cl

[2019-03-24 14:50] lauriejim commented on #79
Hello! I just pulled and followed same instruction as you did and it works on my side.

[2019-03-24 18:54] fonziemedia opened #81 "TypeError: Cannot read property 'pathname' of undefined"
**Node.js version**: 10.4.1

**npm version**: 6.1.0

**Strapi version**: 3.0.0-alpha.24.1 (this is a frontend issue though)

**Operating system**: macOS Mojave

**Which example is causing problem?**
nextjs-react-strapi-deliveroo-clone-tutorial

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
I can run  'npm run dev' or 'npm start' without issues but

[2019-03-25 15:27] lauriejim commented on #81
Hello! It's because you don't have data in your application and because routes are not open in your admin panel.

Please I suggest you to follow the steps in the article linked to this example.

Let me know if it's ok after that.

[2019-03-25 21:14] wfpaisa opened #82 "typo error"
is type=text?

https://github.com/strapi/strapi-examples/blob/12b3cb9959860efb063eada01679d027a1ea7c7b/nuxt-strapi-deliveroo-clone-tutorial/client/pages/signup.vue#L10

[2019-03-26 14:45] lauriejim commented on #82
Probably yes! Can you submit a PR to fix it please.

[2019-03-27 15:52] benjaminloeffel commented on #81
Hi @lauriejim  !

I've encountered the same issue as above on every render.

![2019-03-27_16-45-42](https://user-images.githubusercontent.com/15696921/55091063-73df7000-50b0-11e9-8b3d-35099cce8b59.png)

Could you clarify what causes this issue and how this can be resolved and avoided in the future?

Thanks & Regards

[2019-03-27 16:17] fonziemedia commented on #81
Hi @benjaminloeffel

As @lauriejim you need to have data and open the routes in the admin area (permissions).

Check the tutorial for more info on the permissions you should grant.

Hope this helps and thanks @lauriejim for your reply.

[2019-03-27 16:45] benjaminloeffel commented on #81
Hi @fonziemedia !

In my **Public** & **Authenticated** Roles & Permissions all Content Types have `find` & `findone` checked.

![image](https://user-images.githubusercontent.com/15696921/55095054-d0925900-50b7-11e9-974a-4cc8497f7f6c.png)

The routes are open and I have added data to all content types. 😞

[2019-03-27 16:55] benjaminloeffel commented on #81
Hi @fonziemedia !

Data has been added to all Content Types and under **Roles & Permissions** in both the **Authenticated** & **Public** the **Userspermissions** `getroutes` checkbox is ticked.

![image](https://user-images.githubusercontent.com/15696921/55096050-7b574700-50b9-11e9-8eb9-905df7ea465e.png)

The issue still occurs. :pensive: !

[2019-03-27 19:45] fonziemedia commented on #81
@benjaminloeffel,

You don't need to change the users permissions but the 'application' permissions for dish, order and restaurants as per the instructions on https://blog.strapi.io/strapi-next-setup/

[2019-03-27 19:52] soupette commented on #75
Well it wasn't supported when we developed the app, though it should be possible now since we support mutations. Here's the [Apollo's documentation on local state](https://www.apollographql.com/docs/react/essentials/local-state)

[2019-03-27 19:52] soupette commented on #74
I'm closing this issue.

[2019-03-27 19:52] #74 closed

[2019-03-28 08:21] benjaminloeffel commented on #81
@fonziemedia & @lauriejim

Yes, I was following that tutorial and went over it a couple of times because I was unsure whether or not I had missed something.

I've followed the instructions found on the tutorial as per below:

Click on the Public role.
Tick the find and findone checkboxes of the Restaurant section.
Save.
Important: do the same thing for the authenticated role.

![image](https://use

[2019-03-28 09:44] lauriejim commented on #81
Thank you @fonziemedia for the feedback.
I close this issue. If it works for you @fonziemedia it have to work for you @benjaminloeffel .
You probably miss something.

[2019-03-28 09:44] #81 closed

[2019-03-28 09:47] lauriejim commented on #44
I am closing this issue because we don’t have any updated/needed information regarding it.
Will reopen it if activity come back.

[2019-03-28 09:47] #44 closed

[2019-03-28 10:29] lauriejim commented on #65
I don't have 500 on my side can you try with version that is on the repo.

[2019-03-28 10:56] diamondback15 commented on #27
I have to same issue right now. I want to use facebook login in production and the callback always redirect to : http://api.example.com instead of https://api.example.com

[2019-03-28 12:22] #67 closed

[2019-03-28 12:31] lauriejim commented on #70
I close this issue, can you check on the mono repo if this issue exist.
It's not related to the example but look like related to the GraphQL plugin.

[2019-03-28 12:31] #70 closed

[2019-03-28 12:32] lauriejim commented on #71
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines.

Please update the issue.

Thank you.

[2019-03-28 12:32] #71 closed

[2019-03-29 07:42] #75 closed

[2019-04-04 07:57] mikepuerto opened #84 "Why write an article for a broken code base?"
I did not feel any of the questions were relevant to my "issue" I'm just curious as to why [This article on Medium](https://blog.strapi.io/strapi-next-setup/) is NO WHERE near accurate to:  `nextjs-react-strapi-deliveroo-clone-tutorial` ?

These sorts of things just throw people off as I'm sure you can tell by all the comments. Being that this is an "official" `strapi` article, it only makes sense

[2019-04-05 19:00] DevMA523 opened #85 "Google setup"
Hi,
The Google+ closed. The Google+ API will also die.

What's about this page :
https://github.com/strapi/strapi-examples/blob/master/login-react/doc/google_setup.md

How to setup google now without the Google+ API ? :)

[2019-04-11 08:09] lauriejim commented on #85
Hello! we have an issue here https://github.com/strapi/strapi/issues/2660
But it's not a topic we are working on.
We are waiting a PR from the community on this point.

[2019-04-11 08:12] DevMA523 commented on #85
Thank you :)

[2019-04-11 08:13] #85 closed

[2019-04-11 10:20] benjaminloeffel commented on #81
It turns out that the issue I was experiencing above occurred due to an issue in the "next-apollo" dependency:

[Cannot read property 'pathname' of undefined](https://github.com/adamsoffer/next-apollo/issues/31#issue-430234455)

[2019-04-12 14:14] DonLduk commented on #13
Hi. I have a question regarding these steps. I managed to create a city, and some users. I need to relate several users to a city. I can do it by "Content Type Builder", and I see the related fields (this is ok). But when I query from the front-end, I don't have the relation.

for example, how do I bring all the users within a city? .

[2019-04-15 12:19] Pedrock commented on #84
And it has no back-end validation of the payment with Stripe: huge vulnerability!

[2019-04-21 00:55] ifeatu commented on #13
+1

[2019-04-23 20:21] xmqywx commented on #39
@Kostanos  remove user, it work
  options: {
        apiURL: 'http://localhost:1337',
        contentTypes: [ // List of the Content Types you want to be able to request from Gatsby.
          'article',
          // 'user'
        ],
        queryLimit: 1000,
      }

[2019-04-27 16:31] adds08 opened #88 "Content type builder"
Hey guys !

I really like Strapi but I am scratching my head with SQL-db relation.

So a user can create many "Messages"
but user can subscribe to only one message from other User

In SQL I have 3tables for it but how to build it using the content-type-builder

Thank you

[2019-04-29 10:08] lauriejim commented on #88
Hello!

You will have to create 2 relations.
One for the "creation" User(messages) <- oneToMany -> Message(author)
And one for "subscription" User(subscription) <- manyToOne -> Message(subscripters)

[2019-04-29 10:08] #88 closed

[2019-05-02 08:05] Mountains-and-rivers opened #89 "I don't understand how to config schema.graphql？"
I don't understand how to config schema.graphql？

i set strapi like this:

![image](https://user-images.githubusercontent.com/15889219/57062503-f0d6b880-6cf2-11e9-896b-10611c20e980.png)

and i want to update dianzan by react-apollo

here is my code:

[code]

i konw i need to config "schema.graphql", But I'm always at a loss. here is ```Todo.settings.json```：

[code]

now  what should schema.graphq

[2019-05-02 08:09] Mountains-and-rivers commented on #89
-

[2019-05-11 08:17] Cignite commented on #13
I got same question as @DonLduk

[2019-05-15 03:10] #89 closed

[2019-05-31 03:26] kktam opened #101 "strapi-next-order-checkout error"
**Node.js version**:  v10.15.3
**npm version**: 6.4.1
**Strapi version**:  v3.0.0-alpha.26.2
**Operating system**:  Windows 10 Pro

**Which example is causing problem?**
In the tutorial
[https://blog.strapi.io/strapi-next-order-checkout/](https://blog.strapi.io/strapi-next-order-checkout/)

I got the source code past the validation on stripe and the Next.js frontend is ready to post to orders with

[2019-05-31 03:30] kktam commented on #65
I got the same bug as you.

[https://github.com/strapi/strapi-examples/issues/101](https://github.com/strapi/strapi-examples/issues/101)

[2019-06-10 02:37] jmchza opened #107 "oauth redirection flow with google provider"
**Node.js version**:10.10.0

**npm version**:6.4.1

**Strapi version**:3.0.0-beta.3

**Operating system**:mac

**Which example is causing problem?**
react-login-front-end-app
**Do you want to request a *feature* or report a *bug*?**
this seems to be a failure to me.
**What is the current behavior?**
starting the front-end app and trieng to login with google provider
**If the current behavior is a

[2019-06-10 14:54] lauriejim commented on #107
I think this is related to this issue https://github.com/strapi/strapi/issues/2660

[2019-06-11 07:40] jmchza commented on #107
Hey @lauriejim thanks for your answer.

I looked at that and I thought if that would be the case any other tool should also failed.
I have tried this one: https://www.npmjs.com/package/react-google-login
and it does work so I am not quite sure this lays in the google side :(

Thanks in advance.

[2019-06-17 13:07] kktam commented on #65
This bug may be related to an issue in the sample code not using authenticated post. A temporarily fix is to enable "public" access for orders.create in the Admin module and the code will work.

A proper fix is future is to investigate why the call is not posted with authenticated user.

[2019-06-17 13:08] kktam opened #109 "Migrate next.js deliveroo to 3.0.0-beta.5 results in error in order.js"
**Node.js version**: v10.13.0

**npm version**: 6.9.0

**Strapi version**:   3.0.0-beta.5

**Operating system**: Windows 10 professional

**Which example is causing problem?** [https://github.com/strapi/strapi-examples/tree/master/nextjs-react-strapi-deliveroo-clone-tutorial](https://github.com/strapi/strapi-examples/tree/master/nextjs-react-strapi-deliveroo-clone-tutorial)

**Do you want to reque

[2019-06-19 16:18] kktam commented on #109
I recheck the reproduce steps and found that the project dependencies does not work with npm but only with yarn.

after rebuilding Next.js deliveroo example I got a lesser but different React error. I am not sure if it is related to fact that the host is now installed with Strapi beta (npm install strapi@beta -g)

Here is new error message after starting client with 'yarn, yarn dev'

[code]

[2019-06-26 08:53] diacu commented on #61
I'm using it with MongoDB and I get this error.
I my case, issue appears when having nuxt set with SSR. If you navigate using the router, it works well. If you access the page via url or refresh it, it gives this error.
I think it has to do with the fact that call is made from server.. From what I can tell, in the last case there is no OPTIONS request and strapi returns access denied response

[2019-06-30 10:07] hamedhossani commented on #72
Hello @barak-haviv
How To change permission?

[2019-07-02 04:10] hamedhossani commented on #72
When i opened ```http://localhost:1337/admin``` in browser
it's not show login page or menu user & permission .
How can i change permission? is something wrong?

[2019-07-08 07:36] rahulkohli23 opened #113 "API Authorization using Strapi Google provider not working."
**Node.js version**:11.12.0

**npm version**:6.9.0

**Strapi version**:3.0.0-alpha.25.2

**Operating system**:Ubuntu 18.04.2 LTS

**Which example is causing problem?**: API Authorization using Google as a provider

**Do you want to request a *feature* or report a *bug*?**:

**What is the current behavior?**:The application returns
{"statusCode":500,"error":"Internal Server Error","message":"An int

[2019-07-12 23:04] rjain15 opened #125 "Doesn't work with babel/cli 7.0.0"
**Node.js version**:
node --version
v12.1.0

**npm version**:
npm --version
6.9.0

**Strapi version**:
strapi --version
3.0.0-beta.11
**Operating system**:
MacOS

**Which example is causing problem?**
login-react/react-login-front-end-app

**Do you want to request a *feature* or report a *bug*?**
bug, maybe remove the babel dependency.

**What is the current behavior?**
[code]
**If the current beh

[2019-07-15 03:14] rjain15 opened #128 "Cannot connect to Strapi, Status code 403"
**Node.js version**:
node v12.1.0
**npm version**:
npm 6.9.0
**Strapi version**:
strapi 3.0.0-beta 11
**Operating system**:

mac
**Which example is causing problem?**
https://blog.strapi.io/building-a-static-website-using-gatsby-and-strapi/#allowaccess

**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
Graphql Query doesn't work.

**If the current beha

[2019-07-15 03:15] rjain15 commented on #128
Tried deleting the .cache directory, didn't work.

[2019-07-15 09:46] lauriejim commented on #125
Hello!
At the end of you `yarn start` it works or it fails?

[2019-07-18 07:38] sorensenjg commented on #128
I just ran into this too

[2019-07-19 05:45] muhaimincs commented on #113
try to update to beta version

[2019-07-23 12:54] AurelienVernay commented on #113
I'm using strapi 3.0.0-alpha.26.1, and i'm having difficulties to set up google authentication using strapi provider as well, but i don't think this is related to Strapi version.
When i'm putting `http://localhost:1337/connect/google/callback` as an allowed redirection URI, i get the following error from Google :

![image](https://user-images.githubusercontent.com/18377871/61713714-7cdc0780-ad59-1

[2019-07-24 12:11] AurelienVernay commented on #113
Try to debug node server.js and look at `Auth.js` in `plugins/user-permissions/controllers` at line 154 : it may be Google API silently failing (i had a similar issue because i didn't activate Google + API

[2019-07-25 00:09] msmaromi commented on #128
Make sure articles & users has public permissions

[2019-07-25 14:41] lauriejim commented on #25
https://github.com/strapi/strapi-examples/pull/91

[2019-07-25 14:41] #25 closed

[2019-07-25 14:54] lauriejim commented on #128
Hello!

You get this error during the `Users` fetch all request.
`Starting to fetch data from Strapi (users)`

If you continue the article you will have an instruction that indicates you to allow `Users - find`
This action will remove this `403` error.

### Article content
Allow access to User
Remember, when we created the content type we created a relation between User and Articles.

Like Article

[2019-07-25 14:54] #128 closed

[2019-07-25 15:00] lauriejim commented on #125
No new, I close the issue.
Let me know if you have more information.

[2019-07-25 15:00] #125 closed

[2019-07-25 15:05] lauriejim commented on #113
This issue is fixed since we release the `beta.14` version of strapi.
Please check the changelog here https://github.com/strapi/strapi/releases/tag/v3.0.0-beta.14
You will be able to find the PR that did the fix and apply changes to your application is you don't or can't update to the last version of strapi.

[2019-07-25 15:05] #113 closed

[2019-07-25 18:07] lauriejim commented on #109
I haven't been able to reproduce.
I close this issue, let me know if you have other info.

[2019-07-25 18:07] #109 closed

[2019-07-27 17:10] #107 closed

[2019-07-28 09:29] #82 closed

[2019-08-12 13:39] lauriejim commented on #101
Please check the app folder instead of the tuto.
The tuto is not up to date.
I just updated all the front and backend application.

[2019-08-12 13:39] #101 closed

[2019-08-19 11:38] rahulkohli23 commented on #113
it's working when installed the new beta version
Thanks, everybody for help

[2019-08-26 11:54] soupette commented on #84
@mikepuerto I agree we are rewriting these articles at the moment!

[2019-08-30 14:52] barbgegrasse commented on #39
same here

[2019-09-06 18:55] Palgie commented on #84
@soupette Thanks for revisiting these articles. If I could I'd like to put these two ideas forward for the refresh:

- Back-end validation of the payment from Stripe (as @Pedrock mentioned).
- Syncing product records to Stripe to use alongside Stripe Orders API rather than simple Stripe Transactions (Maybe a good way to demonstrate using Strapi lifecycle updates to mirror create / update)

Think t

[2019-09-12 09:22] ragamroll opened #133 "gatsbi-strapi-tutorial setup fails during npm install sharb@0.22.0"
**Node.js version**:
12.6.0

**npm version**:
6.11.3

**Strapi version**:
3.0.0-aplha.25.2

**Operating system**:
Ubuntu 16.04.6 LTS

**Which example is causing problem?**
gatsby-strapi-tutorial

**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
:~/dev/git/strapi-examples/gatsby-strapi-tutorial/cms$ ls
admin  config       node_modules  plugins  READ

[2019-10-21 23:33] sebastianortizs4n opened #135 "login-react google auth not working with Strapi 3"
**Node.js version**:
10
**npm version**:
6
**Strapi version**:
Strapi v3.0.0-beta.16.8
**Operating system**:
Ubuntu 18.10

**Which example is causing problem?**
The auth callback to the `login-react/react-login-front-end-app` project does not work for Google OAuth.

I suspect that the response from the  Strapi auth plugin changed, now the response of the JWT toke is made in the GET parameters of t

[2019-11-01 01:45] neverb10 opened #136 "how to start mongo for react-login"
I'm trying to follow the README for react-login, but I don't know how to start mongo db

[2019-11-01 08:51] #136 closed

[2019-11-01 16:49] sebastianortizs4n commented on #135
The issue was a bad configuration on the Strapi end. It works.

[2019-11-01 16:49] #135 closed

[2019-11-01 16:56] sebastianortizs4n commented on #135
The issue was setting the the `Redirec URL  for your frontend` to `http://localhost:3000/connect/google/`

[2019-11-07 09:01] krynv commented on #84
Have these been rewritten & submitted anywhere yet?

[2019-11-15 10:56] mathi-ideas2it commented on #39
It seems permission error "Error: Request failed with status code 403"

Give Permission to both Article and User

[2019-11-18 10:43] braykh opened #138 "facebook"
**Node.js version**:

**npm version**:

**Strapi version**:

**Operating system**:

**Which example is causing problem?**

**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce the problem**

**What is the expected behavior?**

[2019-11-18 10:44] #138 closed

[2019-11-26 16:13] 8kigai commented on #84
I don't feel like the authentication and authorization should be written like this. Some of the code just don't make sense.

[2019-12-14 15:31] Marcosul opened #140 "Facebook login does not direct to logged page"
Hello

**Node.js version**:
v10.16.3

**npm version**:
6.9.0

**Strapi version**:
3.0.0-beta.17.8

**Operating system**:
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.5 LTS
Release:        16.04
Codename:       xenial

**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
I configured the login-react / react-login-front-end-app sample project to a

[2019-12-15 23:54] Zenahr opened #141 "building the project using the repository does not seem work"
Sorry if this isn't the right place to ask this. If that's the case, please feel free to refer me to the right place.

I've been following the youtube tutorials, redo the project 3x-4x times following the written tutorial, finally gave up for now and cloned the final git rep, ran the commands as stated in the README and still ended up with a unusable code-base.

The errors I get are:
(After runnin

[2019-12-17 13:40] lauriejim commented on #140
Hello! Please make sure well followed the documentation to configure your app.
Just tested and it works well.

[2020-02-10 20:03] JurajJakubov opened #142 "Cooking a Deliveroo clone - Error loading restaurants"
**Node.js version**:
v10.13.0
**npm version**:
6.13.6
**Strapi version**:
Strapi v3.0.0-beta.14
**Operating system**:
OS Name:                   Microsoft Windows 10 Pro
OS Version:                10.0.18363 N/A Build 18363
**Which example is causing problem?**
nextjs-react-strapi-deliveroo-clone-tutorial
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?

[2020-02-10 20:38] JurajJakubov opened #143 "Update request"
Hello,

i want to ask if is possible to upgrade https://github.com/strapi/strapi-examples/tree/master/nextjs-react-strapi-deliveroo-clone-tutorial this example to newest nextjs and node version because it nextjs is widely used and probably a lot of developers will need it. Its really awesome job but it need som care now.

Thanks for your time.
Juraj

[2020-02-12 13:30] JurajJakubov commented on #142
SOLVED - just needed to change permissions in admin.

[2020-02-12 13:30] #142 closed

[2020-02-12 17:47] eugenio10cervantes commented on #27
i just changed the proxy config in /config/environments/production/server.json... looks like this

{
  "host": "mystrapidomain.com",
  "production": true,
  "proxy": {
    "enabled": true,
        "host": "mystrapidomain.com",
        "ssl": true
  },
  "cron": {
    "enabled": false
  },
  "admin": {
    "autoOpen": false
  }
}

[2020-02-13 16:55] Mcastres commented on #143
Hello @JurajJakubov

We are going to update this tutorial in a month or two approximatively and it will be available on the new tutorials repository: https://github.com/strapi/strapi-tutorials/tree/master/tutorials

We made another Next.js tutorial for creating a simple blog if you want: https://github.com/strapi/strapi-tutorials/tree/master/tutorials/next-strapi-apollo-blog

Have fun with Strapi!

[2020-02-13 16:55] #143 closed

[2020-03-12 05:16] v-osnovnom-bezvreden opened #144 "Server wasn't able to start properly. error Invalid empty username provided"
**Node.js version**:
v12.16.1

**npm version**:
6.13.4

**Strapi version**:
strapi@3.0.0-beta.19.3

**Operating system**:
Linux kubuntu 5.3.0-40-generic

**Which example is causing problem?**
cheesecakes

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
server does not start

**If the current behavior is a bug, please provide the steps to reproduce t

[2020-03-14 15:36] lauriejim commented on #144
Hello, we will remove this example.
Please check this repo instead - https://github.com/strapi/foodadvisor

[2020-03-26 19:29] JurajJakubov opened #145 "[Request] update information about "Cooking a Deliveroo clone with Next.js (React), GraphQL, Strapi and Stripe""
Hello i want to ask if are there any updates about new version of this "Cooking a Deliveroo clone with Next.js (React), GraphQL, Strapi and Stripe".
It will be very nice through those hard times to have this updated and workable.
I will be thankful for any information about this.

[2020-04-01 16:18] rmcsharry commented on #128
For anyone else landing here.

If you name your ContentType using underscores, the strapi api exposes them with hypens.

So if you have a content type called `Hero_Block` then that will be exposed as

`http://localhost:1337/hero-blocks`

Which is what you must use in your gatsby-node.js:

[code]

[2020-04-03 04:48] marieqg commented on #128
Are you sure about the singular ?
I tried with plural and singular, and it only works when it's in plural ...

[2020-04-05 07:29] AnthonyPhan commented on #140
Hi @Marcosul  did you manage to resolve this issue? I too am experiencing this issue.
Tested with Microsoft and Google providers

[2020-04-06 14:13] AnthonyPhan commented on #140
Hi @Marcosul ,

I was able to resolve this issue, hopefully this post helps other to also resolve the issue.

When enabling the provider with strapi's admin panel be very carefull to set the correct "Redirect URL for front-end app". By default this field will be populated by strapi to the incorrect port (1337). The example code provided is configured to run on port 3000.

Manually changing the red

[2020-04-21 11:19] bketelsen commented on #133
I got past this by downgrading to node 10

[2020-05-01 19:09] minikali opened #146 "facebook"
**Node.js version**:

**npm version**:

**Strapi version**:

**Operating system**:

**Which example is causing problem?**

**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce the problem**

**What is the expected behavior?**

[2020-05-01 19:10] #146 closed

[2020-05-02 10:38] HonzaVrkota opened #147 "Login Authentication - "This provider is disabled""
**Node.js version**:

**npm version**:

**Strapi version**:

**Operating system**:

**Which example is causing problem?**

**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce the problem**

**What is the expected behavior?**

[2020-05-02 10:40] HonzaVrkota commented on #147
I set the api keys to admin and used the prepared login-react repository from strapi-examples. I tried logging in via google and facebook for both of them, after clicking on logging in via FB or google, the browser displayed "this provider is disabled" even though it was activated in admin.

[2020-05-04 14:49] reyricoy commented on #65
I have the same and enable the public access for orders.create in the admin module didn't solve it...

[2020-05-11 12:45] RileyMShea commented on #145
Yes, it's possible I've missed something, but the current tutorial appears to stop working by the time it gets to the end of part-2 https://strapi.io/blog/strapi-next-restaurants/

Specifically even when I try to clone this repo I am getting this output from `yarn dev`:

[code]

Which I  found a way to alleviate from https://github.com/adamsoffer/next-apollo/issues/25 by updating `next` to `^8.0.2

[2020-05-12 09:00] JurajJakubov commented on #145
More information here - https://github.com/strapi/community-content/issues/28

[2020-05-12 09:00] #145 closed

[2020-05-15 15:16] tommyboylab opened #150 "Social Authentication causes 'Maximum update depth exceeded' error"
**Node.js version**:

10.19.0

**npm version**:

6.13.4

**Strapi version**:

Latest (beta 20.1)

**Operating system**:

Mac OS

**Which example is causing problem?**

/good-old-react-authentication-flow

**Do you want to request a *feature* or report a *bug*?**

*bug*

**What is the current behavior?**
Upon redirect to the FE application on localhost, receive error

[code]

**If the current behav

[2020-05-16 09:20] HonzaVrkota opened #151 "Providers auth"
**Node.js version**:

**npm version**:

**Strapi version**:

**Operating system**:

**Which example is causing problem?**

**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce the problem**

**What is the expected behavior?**

[2020-05-16 09:22] HonzaVrkota commented on #151
Cannot login with providers, the url localhost:1337/connect/{provider} (facebook, google) return 400 "bad request" - "this provider is disabled".... but the provider is enable obviousli.

[2020-05-22 07:59] spiridium opened #152 "/backend/api/order/controllers/Order.js empty?"
Hi,
This repo is broken in many ways.  The Orders entity does not have the Users relationship, and the /backend/api/order/controllers/Order.js is empty... The tutorial https://strapi.io/blog/cooking-a-deliveroo-clone-with-nuxt-vue-js-graphql-strapi-and-stripe-order-and-checkout-part-6-7, suggests that the /backend/api/order/controllers/Order.js should be populated with
`'use strict';
const stripe

[2020-05-24 13:22] wcousin opened #153 "missing dll file?"
Node.js version: 14.3

npm version: 6.14.5

Operating system: Mac OS

My issue is running the login-react app. I get the following error when I run 'npm start':

The DLL manifest is missing. Please run `npm run build:dll`

When I run 'npm run build:dll' it asks if I want to install webpack CLI. Regardless of if I pick 'yes' or 'no', it stalls at this point.

[2020-05-24 20:58] RileyMShea commented on #153
You will almost assuredly have issues trying to use node version 14.x with any of these examples(and any React project for the near future) as it is not the current LTS (version 12 is).

First off  I would switch nodejs to version 12 as that is the current nodejs LTS.  I'd personally uninstall 14 completely then install v12, but `nvm` is option if you need v14 for other projects. Trying to get any

[2020-05-27 00:45] wcousin commented on #153
Thank you. That helped the dll file issue. I still get the following error:

Error: Plugin could not be registered at 'html-webpack-plugin-before-html-generation'. Hook was not found.
BREAKING CHANGE: There need to exist a hook at 'this.hooks'. To create a compatibility layer for this hook, hook into 'this._pluginCompat'. It has something to do with 'tapable' in node_modules.

I'm now running node

[2020-05-27 13:08] wcousin commented on #153
I just deleted the entire repo and started over. Here are the exact errors when installing this with npm install:

`npm notice created a lockfile as package-lock.json. You should commit this file.
npm WARN notsup Unsupported engine for got@5.7.1: wanted: {"node":">=0.10.0 <7"} (current: {"node":"12.16.3","npm":"6.14.5"})
npm WARN notsup Not compatible with your version of node/npm: got@5.7.1
npm W

[2020-05-27 13:09] #153 closed

[2020-05-27 13:12] wcousin opened #154 "Issues installing and running 'login-react'"
**Node.js version**: 12.16.3

**npm version**: 6.14.5

**Operating system**: MacOS Catalina Version 10.15.4

I just deleted the entire repo and started over. Here are the exact errors when installing this with npm install:

`npm notice created a lockfile as package-lock.json. You should commit this file.
npm WARN notsup Unsupported engine for got@5.7.1: wanted: {"node":">=0.10.0 <7"} (current: {"n

[2020-05-28 18:09] gertst opened #155 "The hello world example is not available"
Although mentioned in the readme, there is no ./hello-world folder nor example.

[2020-05-30 12:53] stephenstroud opened #156 "Azure CosmosDB connection issue"
**Node.js version**:
v12.16.2
**npm version**:
6.13.6
**Strapi version**:
3.0.1
**Operating system**:
Windows 10

**Which example is causing problem?**

yarn create strapi-app my-project
CustomDB option: Mongo

I'm trying to connect to Azure CosmosDB through the supported Mongodb connector, however, I'm getting a timeout error. The connection string details are correct.

Configuration:
![image](ht

[2020-05-30 12:55] #156 closed

[2020-06-08 17:33] RazvanCretu commented on #145
Any new update on how to solve this? I'm encountering the same problem.

[2020-06-17 11:39] s1710307070 opened #158 "Installing dependencies for login-react causes problems"
**Node.js version**: v12.14.1

**npm version**: 6.14.5

**Strapi version**: latest

**Operating system**: Windows 10 (Build 19041.264)

Running npm install for the project login-react causes issues:

[code]

[2020-06-19 14:30] alexon1234 commented on #158
https://github.com/strapi/strapi-examples/pull/149/files

[2020-06-19 14:31] alexon1234 commented on #154
Try https://github.com/strapi/strapi-examples/pull/149/files
If not you can check it https://codesandbox.io/s/github/strapi/strapi-examples/tree/master/login-react/react-login-front-end-app

[2020-06-24 23:53] jonathanmach opened #159 "Providers: Incomplete field "The redirect URL to add in your Google application configurations""
**Node.js version**:
v12.18.0
**npm version**:
6.14.4
**Strapi version**:
"strapi": "3.0.4",
**Operating system**:
Windows 10

**Which example is causing problem?**
All the documentation I've read https://github.com/strapi/strapi-examples/issues/18#issuecomment-382781359) shows the *The redirect URL to add in your Google application configurations* field (which cannot be edited) starting with `htt

[2020-06-26 20:11] JBobeldyk commented on #159
I had the same issue and was able to partially resolve it using some of the advice from https://github.com/strapi/strapi/issues/6570

In `strapi.config.server` I added `url: 'http://localhost:1337'`
The redirect URL still only has /connect/google/callback but now the redirect URL is correct when doing the demo and I can use google auth to log in

[2020-06-28 10:43] jonathanmach commented on #159
Thanks!
I also came across that Issue and did as suggested. It is also working fine now.

[2020-06-28 10:43] #159 closed

[2020-06-30 10:17] maxmarkus commented on #155
It seems that this was the only example using **i18n** thats why I also wanted to have a look at it.

[2020-07-03 10:44] GuyBerkovich opened #160 "Auth providers in production"
**Node.js version**: 14.5.0

**yarn version**: 1.22.4

**Strapi version**: 3.0.0-beta.17.8

**Operating system**: heroku-18

**Which example is causing problem?**: login-react - facebook

**What is the current behavior?**:
current behavior it work fine in local but in production i have issues with the redirect url.
in production the redirect url that send to facebook is - http://mystrapiapp.heroku

[2020-07-14 16:46] gartox opened #161 "Google Oauth for admin users"
**Node.js version**:
10.15.3
**npm version**:
6.13.6
**Strapi version**:
3.0.5
**Operating system**:
OSX Catalina 10.15.5

**Which example is causing problem?**
I'm trying to implement Google Oauth Login for admin Users

**Do you want to request a *feature* or report a *bug*?**
Request a feature

**What is the current behavior?**
When I enable the google Auth is just allowing sign in with end user

[2020-07-16 19:00] oussj commented on #155
Just saw the same issue

[2020-07-20 19:18] rodenp opened #162 "nuxt-strapi-deliveroo-clone-tutorial BUGS"
**Node.js version**: 14.5.0

**npm version**: 6.14.5

**Strapi version**: 3.0.6

**Operating system**: Mac

**Which example is causing problem?** nuxt-strapi-deliveroo-clone-tutorial

**Do you want to request a *feature* or report a *bug*?** BUG

**What is the current behavior?**
When click on 'See Dishes' from main screen the following error appears:
Cannot read property 'dishes' of null
An error

[2020-07-22 16:52] DVIMultimedia commented on #14
Not planned in 2020 ?

[2020-07-23 11:19] achmedsgit commented on #14
please add support for oracle.

[2020-07-28 09:13] ggirodda opened #165 "frontend shouldn't decide of the order price"
**Node.js version**:

**npm version**:

**Strapi version**:

**Operating system**:

**Which example is causing problem?**
nuxt-strapi-deliveroo-clone-tutorial
**Do you want to request a *feature* or report a *bug*?**
report a bad implementation
**What is the current behavior?**
the frontend push the final price directly in db
**If the current behavior is a bug, please provide the steps to reproduc

[2020-07-30 12:04] rkneel123 commented on #56
can  we modify the junction table if we want to add another field in this table?

[2020-08-02 06:05] chang-you opened #166 "Error: Request failed with status code 404"
**Node.js version**:
v10.13.0
**npm version**:
6.14.6
**Strapi version**:
3.1.0-alpha.5
**Operating system**:
mac

**Which example is causing problem?**
https://strapi.io/blog/building-a-static-website-using-gatsby-and-strapi#allowaccess
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
Graphql Query doesn't work.
**If the current behavior is a bug, pl

[2020-08-02 06:30] yoci642 commented on #166
When I tried to run:
`npm install --save gatsby-source-strapi`

in my project, I also encounter these error:

`npm install --save gatsby-source-strapi

No receipt for 'com.apple.pkg.CLTools_Executables' found at '/'.

No receipt for 'com.apple.pkg.DeveloperToolsCLILeo' found at '/'.

No receipt for 'com.apple.pkg.DeveloperToolsCLI' found at '/'.

gyp: No Xcode or CLT version detected!
gyp ERR! con

[2020-08-14 12:55] Ghospel commented on #56
I would like to know this aswell

[2020-08-18 17:19] nabiltkarim commented on #18
@JeffWeim facing the same issues here while trying to integrating it with my strapi admin. Any clues as to what values you put as redirect URL in your provider?

[2020-09-08 17:37] kremerNK commented on #144
this example is still up. maybe it can be replaced with the one mentioned above so people don't spend time on cheesecakes

[2020-09-08 18:48] derrickmehaffy commented on #144
Marking as closed as the error referenced is for an old example.

[2020-09-08 18:48] #144 closed

[2020-09-16 10:47] pronvd7 commented on #18
you need to make google process firstly from frontend app after that response add to the strapi backend server

[2020-09-18 11:16] stevefan1999-personal commented on #14
Technically speaking, this is not the concern of Strapi. Bookshelf relies on Knex, and Knex does support Oracle. However, you will have to be a little bit creative.

First, you will have to install the Oracle Client:
[code]
Then, you will have to patch `node_modules\strapi-connector-bookshelf\lib\knex.js`:
[code]
But consider that the CTO of Strapi, aka @lauriejim, was so pissed about adding Oracl

[2020-10-20 22:36] girafffene commented on #128
Has anyone figured out a solution to this? I've allowed public user to "find" and "findone" on all applicable contentTypes and singleTypes, I have my queryLimit set to 5000, I removed the trailing forward slash from my API Url in the config.js file, I've cleaned the cache folder and yet somehow I still can't get gatsby to fetch my strapi data

[2020-10-28 14:54] zmrhaljiri commented on #128
Me too, with proper accesses, query limits, and naming set, still receiving
[code]
Please can anyone take a look at that issue?

[2020-10-29 06:51] mngyng commented on #150
I also come across this weird infinite-auth thing.

Could be something with Strapi's routing for third-party authentication (my case using Google), particularly the part regarding url-redirect to the frontend.

Actually I did my login flow using simply Express Apps and made the Google to redirect the JWT etc to my Express App. The redirect told me that it's using a React App and cannot find the co

[2020-10-30 18:01] jalal246 commented on #128
i have the same issue too, and amazingly permissions reset for each build.. so i have each time to update Permissions manually and then build

[2020-11-05 13:37] lharrill01 commented on #128
You have to go into SETTINGS -> USERS-PERMISSIONS and under USER check find and findone and that should fix the issue.

[2020-11-05 14:37] jalal246 commented on #128
@lharrill01, in my case Permissions, are being reset. See the issue here: https://github.com/strapi/strapi/issues/8528

[2020-12-29 19:10] Senkor opened #173 "Chessecakes example could need updating"
**v14.15.1**:

**6.14.8**:

**3.3.4**:

**wsl2 ubuntu**:

**Which example is causing problem?**
Cheesecakes

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
trying to reference models like you do in the example does not seem to work.
Trying tp reference like you do in the Review service API like  Review.updateRelations does not work in my Project.
B

[2021-01-06 14:52] maulik-modi commented on #14
@lauriejim , Do you accept PR for oracle support. Some organizations are heavily invested and may not switch to another database system with failover, replication and all that stuff just to have CMS.

[2021-02-15 18:34] jbrew30 commented on #48
Add this to the top of your home.html

<img width="175" alt="Screen Shot 2021-02-15 at 1 34 40 PM" src="https://user-images.githubusercontent.com/22452733/107982729-945d8f80-6f92-11eb-8280-f56f37217bb0.png">

[2021-02-19 08:48] erhankaradeniz opened #174 "Twitter login seems to be broken"
When loggin in with twitter it seems something is going wrong.
I've followed this guide: `https://strapi.io/blog/user-authentication-in-next-js-with-strapi` and replaced google with Twitter. backend I make a request to `auth/twitter/callback?access_token?{token-her}` it return a bad request.

Saying this:
[code]

It seems to work when I disabled jwt, however when that is disabled it doesnt link an

[2021-03-06 11:26] aravinddesign commented on #140
HI @AnthonyPhan

I am facing the same issue. I have tied changing the port name to 3000.
`http://localhost:300/auth/google/callback`

But I get a blank page after I did google authentication. Can you help me with how you resolved it?

[2021-04-09 15:28] dnikomon commented on #14
@stevefan1999-personal , @maulik-modi

You can't put a CLOB in the WHERE clause. From the [documentation](https://docs.oracle.com/en/database/oracle/oracle-database/19/sqlrf/Comparison-Conditions.html#GUID-828576BF-E606-4EA6-B94B-BFF48B67F927):

`"value" clob null`

`where "core_store"."key" = :1 and "core_store"."type" = :2 and "core_store"."value" = :3`

[2021-04-21 10:15] EndlessBox commented on #56
i would love to know this too !

[2021-06-02 20:44] andremov opened #175 "login-react example not redirecting properly"
**Node.js version**: 14.15.5

**npm version**: 7.6.0

**Strapi version**: 3.6.3

**Operating system**: Win 10 x64

**Which example is causing problem?** login-react

**Do you want to request a *feature* or report a *bug*?** Report a bug

**What is the current behavior?** Once the login is successful, the page displayed is blank, does not display the desired message of "Welcome {name} you are conne

[2021-06-02 20:55] #175 closed

[2021-08-06 01:57] eriskhan commented on #165
As for me, it's meant to be a tutorial, not a final solution. So that obviously requires some work from the developer's side

[2021-08-17 00:03] 1996juli commented on #166
Hola, me sucede exactamente lo mismo. Pudieron encontrar una solución ?

[2021-12-19 18:13] techwebdev opened #181 "Google auth not working"
** Node.js : 14.1.7.1 **
** strapi : 4.0.0 **

When after choosing an account from google in google signup it redirects to the frontend URL. from the frontend when I call the `api/connect/google/redirect?access_token=XXX` then it shows me the 401 error unauthorized error. I attached the URL which I call from the frontend. I attached a screenshot.
After selecting a Gmail account, it's not created t

[2021-12-25 09:23] manjunathkg commented on #181
Some updates which might help in troubleshooting this issue.
This app is broken with Strapi V4 backend.

The issue occurs when front end call back Strapi with auth code on the url locahost:1337/api/auth/google/callback?access_token={token}.  Strapi V4 is not able to parse the jwt token and fails with {"name":"JsonWebTokenError","message":"invalid algorithm"}

Not sure why JsonWebToken fails as Str

[2022-01-06 04:12] Jofay-zs commented on #166
Hi.
I had a similar problem:
[code]
And what I did to fix it was edit the gatsby-config.js, in the part of the plugins. When I'm defining the strapi plugin, you need to define an apiURL, this is always like ` apiURL: "http://localhost:1337 `, but this doesn't work to me, so I change it to ` apiURL: "http://localhost:1337/api`. I hope it serves to you 😀

[2022-01-11 15:02] HugoFortunato commented on #166
Hola amigo! poderia ajudarme? mismo con su comentario yo no consegui!

[2022-01-11 15:59] fabiocasumo commented on #181
Also facing the same issue.

[2022-01-11 16:07] techwebdev commented on #181
in header, if you put

[code]
token is any random string for temporary you use this for a google auth
so temp it working

[2022-01-11 17:15] Jofay-zs commented on #166
@HugoFortunato

Hi bro. With the following block of code on the plugins of gatsby-config.js the problem is partially fixed, in a moment I will explain why.

[code]
With this configuration, you can query some things, but certain things don't work. This is not a problem of our code, it's a problem of the [gatsby-source-strapi plugin](https://www.gatsbyjs.com/plugins/gatsby-source-strapi/?=gatsby%20s

[2022-01-11 18:48] HugoFortunato commented on #166
Maaaaaaaaaan! You're special guy!!! Thank you very much! This solve my problem! thank youuuuuuu!

[2022-01-11 18:49] HugoFortunato commented on #166
@Jofay-zs

Maaaaaaaaaa! Você é cara especial!!! Muito obrigado! Isso resolve meu problema! obrigadooooo!

[2022-01-11 18:49] HugoFortunato commented on #166
Man! You're a special guy! Thank you so much! This solve my problem! Thank!!!!!!

[2022-01-11 19:06] fabiocasumo commented on #181
Thanks mate. Adding any random string there worked as you said.

[2022-01-11 19:23] techwebdev commented on #181
this is temp. so once strapi fix you will need to remove this headers

[2022-01-16 21:41] alecgerona commented on #166
Take note that this isn't a fully-functioning crutch. While I was exploring this, while yes, adding the `api/` in there would work for Strapi Collection Types, for some reason the Single Types need a `populate` query param for it to be usable to Gatsby i.e. return everything in the query.

By default, according to the [docs](https://docs.strapi.io/developer-docs/latest/developer-resources/database

[2022-03-24 22:31] bast111 commented on #128
Still having the same problem with the gatsby-strapi-blog starter and even with the new permissions on User still not working...

[2022-05-23 04:05] nobisro commented on #128
For me, this was caused by using a Read-only API token. Using a full-access token fixed the issue.

[2022-05-29 02:48] Neyunse opened #183 "Login react works with electron js?"
Hello, I have a question. Does the code in the login-react example work with electron js?

This question came up after configuring this in strapi, if I want to create an app with electron, what should I put here?

![imagen](https://user-images.githubusercontent.com/36079551/170849774-82235398-dd1b-4d12-b483-3e76f23bc954.png)

Since most electron apps point to the index file created when compiling

[2022-05-30 09:51] nodes777 opened #184 "gatsby-source-strapi 403 error from starter"
**Node.js version**:
v14.19.1
**npm version**:
yarn 1.22.17
**Strapi version**:
 4.1.11
**Operating system**:
Windows 10

**Which example is causing problem?**
[Gatsby Strapi Starter](https://github.com/strapi/starters-and-templates/tree/main/packages/starters/gatsby-blog
)

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Cloned the Gatsby Starter a

[2022-06-04 08:13] nodes777 commented on #184
The token I had created was the default "Read Only", I needed to have marked it as “Full Access”. I created a new “Full Access” token to resolve this issue.

[2022-06-04 08:13] #184 closed

[2022-06-13 02:02] #183 closed